div.About { 
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  background: white;  
  overflow: scroll;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0.8;
  z-index: 3;

  div.head {
    display: flex;
    padding: 2rem;
    justify-content: space-between;

    a {
        display: inline-block;
        padding-right: 1.5rem;
    }
  }

  div.content {

  }
} 

div.active-about {
    transform: translateX(0);
    opacity: 1;
} 