div.LibrarySong {
    margin: 0.5rem 0;
    padding: 1rem 2rem;
    display: flex;
    align-items: flex-start;
    width: 100%;
    cursor: pointer; 

    img { 
        display: inline-block;
        width: 4rem;
        border-radius: 25%;
    } 

    &:hover { 
        background: rgb(222, 222, 222); 
    } 

    div.song-description {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 4rem;
        width: 100%;
        
        h3 {
            font-size: 1rem;
        } 

        h4 {
             font-size: 0.7rem,
        } 
    }
} 
